# Node modules
node_modules/

# Build output
# dist/
# build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
# .env
# .env.local
# .env.*.local

# IDE/editor settings
.vscode/
.idea/
*.swp

.env

# TypeScript cache
# *.tsbuildinfo

# Optional: lock files (only if you’re not using them)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

srcs/prisma/databaseintro.db
srcs/front/aif/

# ignore .json
package-lock.json
